@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root {
    color: #cdd6f4;
    --text-color: #f5e0dc;
    background-color: #1e1e2e;
    margin: 2rem;
  }
  html,
  body {
    font-family: "Roboto Mono";
    height: 100%;
  }
  
  a{
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    letter-spacing: 0.5px;
    padding: 0 10px;
  }
  a:after{
    content: "";
    position: absolute;
    background-color: #a6e3a1;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  a:hover:after{
      width: 100%;
  }
  
  .content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
  }
  .inverted {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
  }

  nav {
    display: flex;
    justify-content: center;
  }
  .list {
    text-align: center;
  }
  
  .list ul {
    display: inline-block;
  }
  
  .list ul li {
    text-align: left;
  }